<main>

  <!-- Tributos -->
  <div class="custom-box my-2 mx-0 text-start">
    <h3 class="text-start">
      <i class="bi bi-chat-left-text me-2"></i>
      Homenagens<br>
      <span class="fs-5 text-muted">
        Deixe a sua homenagem para <strong>{{firstName}} {{lastName}}</strong>
      </span><br>
    </h3>
    <button type="button" class="btn-default-memorial">
      <i class="bi bi-plus-circle me-1"></i> Escrever Homenagem
    </button>
  </div>

  <div class="custom-box my-2 mx-0 text-start">
    <!--
    <h3 class="text-start">
      <i class="bi bi-chat-left-text me-2"></i>
      Homenagens:
      <span class="fs-5 text-muted">
        Deixe a sua homenagem para <strong>{{firstName}} {{lastName}}</strong>
      </span>
    </h3>
    -->
    {{#if tribute.length}}
    {{#each tribute}}
    <div class="tribute-card my-3">
      <div class="tribute-body">

        <!-- Ícone à esquerda -->
        <div class="tribute-image-box">
          <img src="/css/memorial/files/{{#if this.type}}{{this.type}}{{else}}tributo_caneta.png{{/if}}" alt="Tributo"
            class="tribute-image">
        </div>

        <!-- Conteúdo -->
        <div class="tribute-content">
          <p class="tribute-message">{{this.message}}</p>

          <!-- Rodapé -->
          <div class="tribute-footer">
            <span class="tribute-author">
              Por <strong>{{this.user.firstName}} {{this.user.lastName}}</strong> em {{formatDateTribute
              this.createdAt "default"}}
            </span>

            <div class="tribute-actions">
              <a href="/memorial/{{../slug}}/tribute/edit/{{this._id}}" class="btn-default-memorial">
                Editar
              </a>

              <form action="/memorial/{{../slug}}/tribute/delete/{{this._id}}" method="POST"
                onsubmit="return confirm('Tem certeza que deseja apagar este tributo?');">
                <button type="submit" class="btn-default-memorial">
                  Deletar
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
    {{/each}}
    {{else}}
    <p>Nenhuma homenagem adicionada ainda.</p>
    {{/if}}
  </div>



  <!-- Formulário de Envio de Tributo -->
  <form action="/memorial/{{slug}}/tribute/create" method="POST">
    <input type="hidden" name="memorial" value="{{id}}">
    <input type="hidden" name="slug" value="{{slug}}">

    <div class="life-form-box">
      <div class="life-form-card">

        <h3 class="life-form-title">
          <i class="bi bi-gift-heart me-2"></i>Escreva e envie sua Homenagem
        </h3>

        <!-- Opções de ícone -->
        <div class="tribute-options">
          <label class="tribute-option">
            <img src="/css/memorial/files/tributo_caneta.png" alt="">
            <input type="radio" name="type" value="tributo_caneta.png" checked>
          </label>

          <label class="tribute-option">
            <img src="/css/memorial/files/tributo_flor.png" alt="">
            <input type="radio" name="type" value="tributo_flor.png">
          </label>

          <label class="tribute-option">
            <img src="/css/memorial/files/tributo_vela.png" alt="">
            <input type="radio" name="type" value="tributo_vela.png">
          </label>
        </div>

        <textarea class="life-input" rows="3" placeholder="Escreva sua mensagem..." name="message" required></textarea>

        <div class="life-form-footer mt-2">
          <span class="life-author small">Por usuário logado.</span>

          <button type="submit" class="btn-default-memorial">
            <i class="bi bi-send-fill me-1"></i> Enviar Homenagem
          </button>
        </div>

      </div>
    </div>
  </form>

</main>