<main>

  <!-- Bloco estrutural transparente para o epitáfio -->
  {{#if epitaph}}
    <div class="epitaph-box text-center">
      <p class="epitaph-content">
        &#8220;{{epitaph}}&#8221;
      </p>
    </div>
  {{else}}
    <div class="epitaph-box text-center">
      <p class="epitaph-content">Aqui repousa uma alma que amou e foi amada. Que
        sua memória viva para sempre em nossos corações.</p>

    </div>

  {{/if}}

  <!-- Informações do Memorial -->
  <div class="custom-box my-0 mx-0">
    <div class="birth-death-info mt-2 text-start">
      <p><i class="bi bi-calendar-date-fill"></i><strong> Idade:</strong> {{idade}}</p>
        <i class="bi bi-star-fill"></i>
        <strong>Nascido(a): </strong>
        {{#if birth.date}}{{formatDate birth.date}}{{else}}Não informada{{/if}}
        <br />
        <i class="bi bi-geo-alt"></i>
        <strong> Local: </strong>
        {{#if birth.city}}{{birth.city}}{{else}}Local desconhecido{{/if}}
        |
        {{#if birth.state}}{{birth.state}}{{else}}Estado não informado{{/if}}
        |
        {{#if birth.country}}{{birth.country}}{{else}}País não informado{{/if}}
      </p>
      <p>
        <i class="bi bi-heartbreak-fill"></i>
        <strong>Falecido(a): </strong>
        {{#if death.date}}{{formatDate death.date}}{{else}}Não informada{{/if}}
        <br />
        <i class="bi bi-geo-alt"></i>
        <strong> Local: </strong>
        {{#if death.city}}{{death.city}}{{else}}Local desconhecido{{/if}}
        |
        {{#if death.state}}{{death.state}}{{else}}Estado não informado{{/if}}
        |
        {{#if death.country}}{{death.country}}{{else}}País não informado{{/if}}
      </p>
    </div>
  </div>

  <!-- Sobre o Memorial -->
  <div class="custom-box my-2 mx-0 text-start">
    <p class="fs-4"><strong>Sobre Este Memorial</strong></p>
    <p class="text-justify">
      {{#if about}}
        {{about}}
      {{else}}
        Este memorial foi criado por
        {{#if user}} {{user.firstName}} {{user.lastName}} {{else}}
          um usuário desconhecido
        {{/if}}, em homenagem a
        <strong>{{firstName}} {{lastName}}</strong> que nos deixou uma história repleta de momentos especiais.
        Seu legado permanecerá vivo nestas páginas, onde suas lembranças serão preservadas com carinho
        e respeito.
      {{/if}}
    </p>
  </div>

  <!-- Biografia -->
  <div class="custom-box my-2 mx-0 text-start">
    <p class="fs-4"><strong>MiniBiografia</strong></p>
    <p class="text-justify">
      {{#if biography}}
        {{biography}}
      {{else}}
        A biografia de
        <strong>{{firstName}} {{lastName}}</strong>
        ainda não foi adicionada. Convidamos você a contribuir com histórias,
        memórias e detalhes sobre sua vida para enriquecer este memorial e
        manter viva a sua memória.
      {{/if}}
    </p>
  </div>

   <!-- Obituário -->
  <div class="custom-box my-2 mx-0 text-start">
  <p class="fs-4"><strong>Obituário</strong></p>

  {{#if obituary}}

    {{#if obituary.cemetery}}
      <p>
        <i class="bi bi-geo-alt-fill"></i>
        <strong>Cemitério: </strong>{{obituary.cemetery}}
      </p>
    {{/if}}

    {{#if obituary.graveAddress}}
      <p>
        <i class="bi bi-brightness-alt-high-fill"></i>
        <strong>Túmulo: </strong>{{obituary.graveAddress}}
      </p>
    {{/if}}

    {{#if obituary.wakeLocation}}
      <p>
        <i class="bi bi-bank2"></i>
        <strong>Capela: </strong>{{obituary.wakeLocation}}
      </p>
    {{/if}}

    {{#if obituary.wakeDate}}
      <p>
        <i class="bi bi-calendar-date-fill"></i>
        <strong>Data do Velório: </strong>{{formatDateTribute obituary.wakeDate "default"}}
      </p>
    {{/if}}

    {{#if obituary.wakeStart}}
      <p>
        <i class="bi bi-clock-fill"></i>
        <strong>Hora do Velório: </strong>
        {{obituary.wakeStart}}h
        {{#if obituary.wakeEnd}} às {{obituary.wakeEnd}}h{{/if}}
      </p>
    {{/if}}

    {{#if obituary.cemeteryMap}}
      <p>
        <i class="bi bi-map"></i>
        <strong>Mapa do Cemitério: </strong>
        <a href="{{obituary.cemeteryMap}}" target="_blank">Ver no Google Maps</a>
      </p>
    {{/if}}

  {{else}}
    <p class="text-muted">Informações de obituário ainda não foram adicionadas.</p>
  {{/if}}
</div>

  
</main>