<main>
  <div class="custom-container my-0 p-2">      
        <!-- Conteúdo Principal -->
        <div class="custom-box my-0 mx-0 text-start">
          <h3 class="text-start"><i class="bi bi-chat-left-heart me-2"></i>Jornada de Vida – Histórias Compartilhadas</h3>
          <p class="text-justify">Neste espaço, familiares, amigos e pessoas queridas são convidados a compartilhar lembranças significativas vividas ao lado de <strong>{{firstName}} {{lastName}}</strong>, construindo juntos uma narrativa afetiva feita de momentos únicos e especiais.</p>
        </div>

        <!-- Histórias Compartilhadas -->
        <div class="custom-box my-2 mx-0 text-start">
          <h3 class="text-start">
            Histórias Compartilhadas:
            <span class="fs-5 text-muted">Participe, compartilhe uma história...</span>
          </h3>
          {{#if sharedStory.length}}
            {{#each sharedStory}}
              <div class="card my-2 custom-box">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <!-- Imagem da história -->
                    <div class="me-3">
                      <img src="{{#if this.image}}/memorials/{{../slug}}/photos/{{this.image}}{{else}}/site/default-story.jpg{{/if}}" class="img-fluid rounded custom-story-img" alt="Imagem da história">
                    </div>
                    <div class="flex-grow-1">
                      <h5 class="fw-bold">{{this.title}}</h5>
                      <p class="card-text fs-5">{{this.content}}</p>
                      <p class="text-muted">
                        <i class="bi bi-calendar-event"></i> Em {{#if this.eventDate}}{{formatDate this.eventDate "long"}}{{else}}Data não informada{{/if}}
                      </p>
                      <div class="d-flex justify-content-end gap-2 mt-3">
                        <a href="/memorial/{{../slug}}/sharedstory/edit/{{this._id}}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Editar</a>
                        <form action="/memorial/{{../slug}}/sharedstory/delete/{{this._id}}" method="POST" onsubmit="return confirm('Tem certeza que deseja apagar esta história?');">
                          <input type="hidden" name="memorial" value="{{id}}" />
                          <input type="hidden" name="slug" value="{{slug}}" />
                          <button type="submit" class="btn btn-primary"><i class="bi bi-trash-fill"></i> Apagar</button>
                        </form>
                      </div>
                      <div class="text-muted mt-2 fs-8 text-end">
                        Publicado por <strong>{{this.user.firstName}} {{this.user.lastName}}</strong> em {{formatDate this.createdAt "default"}}.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <p>Nenhuma história compartilhada ainda.</p>
          {{/if}}
        </div>

        <!-- Formulário de Envio de História -->
        <form action="/memorial/{{slug}}/sharedstory/create" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="memorial" value="{{id}}" />
          <input type="hidden" name="slug" value="{{slug}}" />
          <div class="custom-box my-2 mx-0">
            <h3>Compartilhe uma História</h3>
            <div class="card p-3">
              <div class="mb-2">
                <label for="storyTitle" class="form-label"><i class="bi bi-bookmark-fill"></i> Título da História</label>
                <input type="text" class="form-control" id="storyTitle" name="title" required>
              </div>
              <div class="mb-2">
                <label for="storyContent" class="form-label"><i class="bi bi-chat-left-text"></i> Conteúdo</label>
                <textarea class="edit-input form-control" rows="5" id="storyContent" placeholder="Escreva sua história aqui..." name="content" required></textarea>
              </div>
              <div class="mb-2">
                <label for="eventDate" class="form-label"><i class="bi bi-calendar-event"></i> Data do Acontecimento</label>
                <input type="date" class="form-control" id="eventDate" name="eventDate" required>
              </div>
              <div class="mb-2">
                <label for="storyImage" class="form-label"><i class="bi bi-image"></i> Adicionar uma imagem</label>
                <input type="file" class="form-control" id="storyImage" name="file" accept="image/*">
              </div>
              <div class="text-muted mb-2 fs-7 text-end">Por usuário logado.</div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary">Enviar História</button>
              </div>
            </div>
          </div>
        </form>
      

  </div>
</main>
