<!-- Seção com imagem de fundo -->
<div class="memorial-header" style="
    width: 100%;
    height: 300px;
    background-image: var(--theme-cover-image);
    background-size: cover;
    background-position: center;
    position: relative;
  ">

  <!-- ==========================
       DESKTOP VERSION
       ========================== -->
  <div class="container h-100 d-none d-md-block">
    <div class="row h-100 align-items-center">

      <!-- DESKTOP: FOTO GRANDE -->
      <div class="col-md-3 d-flex justify-content-center">
        {{#if mainPhoto.url}}
        <img src="{{mainPhoto.url}}" alt="Imagem do Memorial" class="memorial-photo mt-3 rounded" />
        {{else}}
        <img src="/css/memorial/files/user_default.png" alt="Imagem padrão" class="memorial-photo mt-3 rounded" />
        {{/if}}
      </div>

      <!-- DESKTOP: TÍTULO -->
      <div class="col-md-9 text-white text-start">
        <h1 class="text-shadow-dark">{{firstName}} {{lastName}}</h1>
        <h4 class="text-shadow-dark">
          {{formatDate birth.date "year"}}
          -
          {{formatDate death.date "year"}}
        </h4>
      </div>

    </div>
  </div>

  <!-- ==========================
       MOBILE VERSION
       ========================== -->
  <div class="container d-md-none py-3">
    <div class="row align-items-center">

      <div class="col-4 text-center">
        {{#if mainPhoto.url}}
        <img src="{{mainPhoto.url}}" class="memorial-photo-mobile rounded" alt="Foto do Memorial" />
        {{else}}
        <img src="/css/memorial/files/user_default.png" class="memorial-photo-mobile rounded" alt="Foto padrão" />
        {{/if}}
      </div>

      <div class="col-8 text-white">
        <h3 class="mobile-name text-shadow-dark m-0">{{firstName}}
          {{lastName}}</h3>
        <p class="mobile-dates text-shadow-dark m-0">
          {{formatDate birth.date "year"}}
          -
          {{formatDate death.date "year"}}
        </p>
      </div>

    </div>
  </div>

</div>