<nav class="navbar navbar-expand-md navbar-dark d-none d-md-flex">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link {{#if (eq (substr activeRoute -6) "/about")}}active{{/if}}" href="/memorial/{{slug}}/about">
            <i class="bi bi-house-door"></i>
            Memorial
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if (eq (substr activeRoute -8) "/tribute")}}active{{/if}}" href="/memorial/{{slug}}/tribute">
            Homenagens
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if (eq (substr activeRoute -10) "/lifestory")}}active{{/if}}" href="/memorial/{{slug}}/lifestory">
            Caminho Percorrido
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if (eq (substr activeRoute -13) "/sharedstory")}}active{{/if}}" href="/memorial/{{slug}}/sharedstory">
            Histórias Compartilhadas
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if (eq (substr activeRoute -8) "/gallery")}}active{{/if}}" href="/memorial/{{slug}}/gallery">
            Galeria
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if (eq (substr activeRoute -9) "/obituary")}}active{{/if}}" href="/memorial/{{slug}}/obituary">
            Obituário
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- NAVBAR MOBILE MEMORIAL (ícones + texto) -->
<nav class="navbar navbar-dark bg-dark d-md-none py-2">
  <ul class="navbar-nav d-flex flex-row justify-content-between w-100 px-3">

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeAbout}}active{{/if}}" href="/memorial/{{slug}}/about">
        <i class="bi bi-house-door fs-4"></i>
        <div class="small">Memorial</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeTribute}}active{{/if}}" href="/memorial/{{slug}}/tribute">
        <i class="bi bi-people fs-4"></i>
        <div class="small">Honras</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeLifeStory}}active{{/if}}" href="/memorial/{{slug}}/lifestory">
        <i class="bi bi-map fs-4"></i>
        <div class="small">Caminho</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeSharedStory}}active{{/if}}" href="/memorial/{{slug}}/sharedstory">
        <i class="bi bi-journal-text fs-4"></i>
        <div class="small">Histórias</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeGallery}}active{{/if}}" href="/memorial/{{slug}}/gallery">
        <i class="bi bi-images fs-4"></i>
        <div class="small">Galeria</div>
      </a>
    </li>
    <!--
    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeObituary}}active{{/if}}" href="/memorial/{{slug}}/obituary">
        <i class="bi bi-file-text fs-4"></i>
        <div class="small">Obituário</div>
      </a>
    </li>
    -->
    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeAdmin}}active{{/if}}" href="/admin/memorial/{{slug}}">
        <i class="bi bi-gear fs-4"></i>
        <div class="small">Admin</div>
      </a>
    </li>

  </ul>
</nav>
