<!-- NAVBAR DESKTOP -->
<nav class="navbar navbar-expand-md navbar-dark d-none d-md-flex">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link {{#if activeAbout}}active{{/if}}" href="/memorial/{{slug}}/about">
            <i class="bi bi-house-door"></i>
            Memorial
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if activeTribute}}active{{/if}}" href="/memorial/{{slug}}/tribute">
            Homenagens
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if activeLifeStory}}active{{/if}}" href="/memorial/{{slug}}/lifestory">
            Caminho Percorrido
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link {{#if activeSharedStory}}active{{/if}}" href="/memorial/{{slug}}/sharedstory">
            Histórias Compartilhadas
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if activeGallery}}active{{/if}}" href="/memorial/{{slug}}/gallery">
            Galeria
          </a>
        </li>

        {{#if canAdminMenu}}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admin
          </a>

          <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="adminDropdown">
            <li>
              <a class="dropdown-item" href="/memorial/{{slug}}/memorial-fet/edit">
                <i class="bi bi-card-text me-2"></i>Trocar Foto Principal
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/memorial/{{slug}}/memorial/edit">
                <i class="bi bi-pencil-square me-2"></i>Editar Memorial
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/memorial/{{slug}}/memorial/privacy/edit">
                <i class="bi bi-shield-lock me-2"></i>Privacidade
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="">
                <i class="bi bi-pencil-square me-2"></i>Trocar o Tema
              </a>
            </li>
          </ul>
        </li>

        {{/if}}

      </ul>
    </div>
  </div>
</nav>

<!-- NAVBAR MOBILE MEMORIAL (ícones + texto) -->
<nav class="navbar navbar-dark bg-dark d-md-none py-2">
  <ul class="navbar-nav d-flex flex-row justify-content-between w-100 px-3">

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeAbout}}active{{/if}}" href="/memorial/{{slug}}/about">
        <i class="bi bi-house-door fs-4"></i>
        <div class="small">Memorial</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeTribute}}active{{/if}}" href="/memorial/{{slug}}/tribute">
        <i class="bi bi-people fs-4"></i>
        <div class="small">Homenagens</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeLifeStory}}active{{/if}}" href="/memorial/{{slug}}/lifestory">
        <i class="bi bi-map fs-4"></i>
        <div class="small">Caminho</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeSharedStory}}active{{/if}}" href="/memorial/{{slug}}/sharedstory">
        <i class="bi bi-journal-text fs-4"></i>
        <div class="small">Histórias</div>
      </a>
    </li>

    <li class="nav-item text-center flex-fill">
      <a class="nav-link mobile-item {{#if activeGallery}}active{{/if}}" href="/memorial/{{slug}}/gallery">
        <i class="bi bi-images fs-4"></i>
        <div class="small">Galeria</div>
      </a>
    </li>

    {{#if canAdminMenu}}

    <!-- Dropdown Admin -->
    <li class="nav-item text-center flex-fill dropdown dropstart mobile-admin">
      <a class="nav-link mobile-item" href="#" id="adminDropdownMobile" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-gear fs-4"></i>
        <div class="small">Admin</div>
      </a>

      <!-- DROPDOWN MOBILE -->
      <ul class="dropdown-menu dropdown-menu-end text-start px-2" aria-labelledby="adminDropdownMobile">

        <li><a class="dropdown-item" href="/memorial/{{slug}}/memorial-fet/edit">
            <i class="bi bi-card-text me-2"></i> Trocar Foto Principal
          </a></li>

        <li><a class="dropdown-item" href="/memorial/{{slug}}/memorial/edit">
            <i class="bi bi-pencil-square me-2"></i> Editar Memorial
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="/memorial/{{slug}}/memorial/privacy/edit">
            <i class="bi bi-shield-lock me-2"></i>Privacidade
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="">
            <i class="bi bi-pencil-square me-2"></i>Trocar o Tema
          </a>
        </li>
      </ul>

      {{/if}}


</nav>