<main class="container my-5">

  <!-- Sessão Apresentação + Vídeo -->
  <section class="row gy-4">
    <div class="col-12 col-md-6">
      <div class="card p-4 h-100 bg-primary text-white rounded-4 shadow-lg">
        <h2 class="card-title fw-bold">InMemoriamBrasil</h2>

        <p class="text-justify">
          Preserve para sempre a memória de quem foi especial em sua vida. Crie
          um
          <strong>Memorial Virtual</strong>
          e preste uma linda homenagem.
          <br /><br />
          <strong>InMemoriamBrasil</strong>
          é um espaço de carinho e recordação para expressar seus sentimentos e
          compartilhar histórias.
        </p>

        <div class="text-center text-md-end mt-3">
          <a href="/memorial/create-step1" class="btn btn-light btn-custom">
            Criar Memorial
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="ratio ratio-16x9 rounded-4 overflow-hidden shadow-lg">
        <video controls width="100%">
          <source src="/css/main/files/tutorial_SOL.mp4" type="video/mp4" />
          Seu navegador não suporta vídeo.
        </video>
      </div>
    </div>
  </section>

  <!-- Memoriais Modelo -->
  <section class="my-5">
    <h2 class="mb-4 text-center text-secondary">Memoriais Virtuais - Modelos</h2>
    <div class="row g-4">

      <div class="col-6 col-md-3">
        <a href="/memorial/machado-de-assis/about" class="text-decoration-none">
          <div class="card border-0 shadow memorial-card">
            <img
              src="/css/main/files/machado_de_assis_1.jpg"
              class="card-img-top rounded-top"
              alt="Machado de Assis"
            />
            <div class="card-body">
              <p class="card-text text-center fw-bold">Machado de Assis</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a
          href="/memorial/chiquinha-gonzaga/about"
          class="text-decoration-none"
        >
          <div class="card border-0 shadow memorial-card">
            <img
              src="/css/main/files/chiquinha_gonzaga_1.jpg"
              class="card-img-top rounded-top"
              alt="Chiquinha Gonzaga"
            />
            <div class="card-body">
              <p class="card-text text-center fw-bold">Chiquinha Gonzaga</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a
          href="/memorial/joaquim-jose-da-silva-xavier/about"
          class="text-decoration-none"
        >
          <div class="card border-0 shadow memorial-card">
            <img
              src="/css/main/files/tiradentes_1.jpg"
              class="card-img-top rounded-top"
              alt="Tiradentes"
            />
            <div class="card-body">
              <p class="card-text text-center fw-bold">Tiradentes</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a href="/memorial/chica-da-silva/about" class="text-decoration-none">
          <div class="card border-0 shadow memorial-card">
            <img
              src="/css/main/files/chica_da_silva_1.jpg"
              class="card-img-top rounded-top"
              alt="Chica da Silva"
            />
            <div class="card-body">
              <p class="card-text text-center fw-bold">Chica da Silva</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </section>

  <!-- Estatísticas -->
  <section class="my-5">
    <div class="container text-center">
      <h2 class="mb-4 text-secondary">Números do InMemoriamBrasil</h2>

      <div class="d-flex flex-wrap justify-content-center gap-3">

        {{! Card Template reaproveitável }}
        <div class="stats-card">
          <i class="bi bi-person-lines-fill fs-4"></i>
          <h6>Memoriais</h6>
          <p>{{totalMemoriais}}</p>
        </div>
        <!--
        <div class="stats-card">
          <i class="bi bi-eye-fill fs-4"></i>
          <h6>Visitantes</h6>
          <p>{{totalVisitas}}</p>
        </div>
        -->
        <div class="stats-card">
          <i class="bi bi-flower1 fs-4"></i>
          <h6>Homenagens</h6>
          <p>{{totalTributos}}</p>
        </div>

        <div class="stats-card">
          <i class="bi bi-journal-bookmark-fill fs-4"></i>
          <h6>Histórias de Vida</h6>
          <p>{{totalHistorias}}</p>
        </div>

        <div class="stats-card">
          <i class="bi bi-journal-bookmark-fill fs-4"></i>
          <h6>Histórias Compartilhadas</h6>
          <p>{{totalCompartilhadas}}</p>
        </div>

      </div>
    </div>
  </section>

</main>