<main>
  <div class="custom-container my-0 p-2">
    <!-- Coluna Principal (3/4) -->
    <div class="col-md-9 my-2">

      <!-- Formulário de Edição do Memorial -->
      <div class="custom-box p-4 mt-0 mx-4">
        <h3>Editar Epitáfio</h3>
        <!--<form action="/memorial/{{slug}}/edit/update?_method=PUT" method="POST">-->
        <form action="/memorial/{{slug}}/epitaph/update" method="POST">
          <input type="hidden" name="_method" value="PUT" />

          <!-- Nome e Sobrenome 
            <div class="mb-3">
              <label class="form-label"><strong>Nome:</strong></label>
              <input type="text" class="form-control" name="firstName" value="{{firstName}}" readonly>
            </div>
            <div class="mb-3">
              <label class="form-label"><strong>Sobrenome:</strong></label>
              <input type="text" class="form-control" name="lastName" value="{{lastName}}" readonly>
            </div>     -->

          <!-- Epitáfio -->
          <fieldset class="mb-3">
            <!--<legend for="epitaph" class="form-label">Epitáfio</legend>-->
            <!--<label class="form-label"><strong>Epitáfio:</strong> <small>(Frase curta em homenagem)</small></label>-->
            <input
              type="text"
              class="form-control"
              name="epitaph"
              value="{{epitaph}}"
              placeholder="Exemplo: 'Sempre em nossos corações'"
            />
          </fieldset>

          <!-- Botões de Ação -->
          <!--<div class="text-end mt-4">-->
          <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
            <a href="/memorial/{{slug}}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</main>